# =========================
# Eclipse IDE
# =========================
*.classpath
*.project
.settings/
bin/

# =========================
# Maven / Java
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log
spring.log

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Workspace
# =========================
*.iml
.vscode/

# =========================
# Spring Boot / runtime
# =========================
*.tmp
*.swp

# =========================
# Environment / Secrets
# =========================
application.properties
.env
